<% const recentUpdates = site.posts.sort('-updated').slice(0, count); %>
<table>
<tbody>
<% for (let doc of recentUpdates.data){ %>
    <tr>
        <td style="white-space: nowrap;"><%= date(doc.updated) %></td>
        <td style="white-space: nowrap;"><a href="<%= url_for(doc.path) %>"><%= doc.title %></a></td>
        <td><div style="width: 20em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= strip_html(doc._content).slice(0, 60) %></div></td>
    </tr>
<% } %>
</tbody>
</table>