// Use KaiTi on Chinese emphasis
blockquote:lang(zh), blockquote *:lang(zh),
em:lang(zh), em *:lang(zh) {
    font-family: KaiTi, serif;
    font-style: normal;
}

blockquote {
    em:lang(zh), em *:lang(zh) {
        font-family: unset;
        font-style: normal;
    }
}

blockquote:lang(zh-hant), blockquote *:lang(zh-hant),
em:lang(zh-hant), em *:lang(zh-hant) {
    font-family: DFKai-SB, serif;
    font-style: normal;
}

blockquote {
    em:lang(zh-hant), em *:lang(zh-hant) {
        font-family: unset;
        font-style: normal;
    }
}

// Use italic on emphasis of other languages

blockquote, blockquote *,
em, em * {
    font-style: italic;
}

blockquote {
    em, em * {
        font-style: normal;
    }
}
