// change link underline animation to fade in/out instead of expanding
.posts-expand .post-title-link:hover::before {
    opacity: 1;
}

.posts-expand .post-title-link::before {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

// remove background of main-inner

.main-inner {
    background: var(--body-bg-color);
}

// make the titles to the left

.posts-expand .post-header {
    text-align: start;
    margin-bottom: 40px;
}

.post-meta {
    justify-content: start;
}

.post-button {
    text-align: start;
}

.menu {
    text-align: end;
}

.sub-menu {
    text-align: start;
}

.category-all-page .category-all-title {
    text-align: start;
}

// center the footer
.footer-inner {
    text-align: center;
}

// change paragraph margin to one line

p {
    margin: 0 0 1em;
}

// change mark color to orange

mark {
    background-color: lightsalmon;
}

// change link color only in content

@media (prefers-color-scheme: dark) {
    .post-body a {
        color: lightsteelblue;
        border-bottom: 1px solid lightsteelblue;
        &:hover {
            color: darkorange;
            border-bottom: 1px solid darkorange;
        }
    }
}

@media (prefers-color-scheme: light) {
    .post-body a {
        color: steelblue;
        border-bottom: 1px solid steelblue;
        &:hover {
            color: darkorange;
            border-bottom: 1px solid darkorange;
        }
    }
}

// fix btn in post-body

.post-body .btn {
  border: 2px solid var(--btn-default-border-color);
  border-radius: $btn-default-radius;
  color: var(--btn-default-color);

  &:hover {
    border-color: var(--btn-default-hover-border-color);
    color: var(--btn-default-hover-color);
  }
}

// half-lengthed navigation
// from https://sunderarmor.ink/2019/06/23/Hexo%E4%B8%BB%E9%A2%98%E7%9A%84%E4%B8%AA%E6%80%A7%E5%8C%96%E8%AE%BE%E7%BD%AE/

.site-nav li {
    width: 50%;
}
.menu .menu-item a, .menu .menu-item span.exturl {
    padding-left: 10px;
    padding-right: 15px;
}
.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    margin: 0;
}

// stylize heading

.site-title {
    font-size: 36px;
    color: #7fbbb3;
}
.site-title:hover {
    color: #d699b6;
    transition-duration: 0.5s;
}
.site-subtitle {
    margin-top: 10px;
    font-size: 18px;
    color: #e69875;
}

// Don't use large font size for desktop
.post-body {
    +desktop-large() {
        font-size: $font-size-medium;
    }
}

// add very thin space to enhance readability of em
em {
    margin-left: 0.125em;
    margin-right: 0.125em;
}

@import 'kaiti-for-zh-em';

// Respect user's font choices for post content

.post-body, .post-title {
    font-family: sans-serif;
}

// blockquote footer margin

blockquote footer {
    margin: 0 0 1em;
}

// inline image

a.fancybox {
    border-bottom: unset;
}

img {
    display: inline;
}

.post-body img {
    margin-bottom: unset;
}

// center figure

figure img {
    display: block;
}

.post-body .image-caption, .post-body img + figcaption, .post-body .fancybox + figcaption {
    margin: 5px auto 15px;
}

// shrink table

table {
    width: max-content;
    max-width: 100%;
}

table th, table td {
    padding: 6px 13px;
}

// custom indentation

.indented {
    padding-left: calc(var(--head-indent, 0em) + var(--following-indent, 0em));
    text-indent: calc(var(--initial-indent, 0em) - var(--following-indent, 0em));
}

// side note
.sidenote-content {
    border-left: 2px solid $grey-lighter;
    padding: 0 8px;
    float: right;
}