// change link underline animation to fade in/out instead of expanding
.posts-expand .post-title-link:hover::before {
    opacity: 1;
}

.posts-expand .post-title-link::before {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

// remove background of main-inner

.main-inner {
    background: var(--body-bg-color);
}

// make the titles to the left

.posts-expand .post-header {
    text-align: start;
    margin-bottom: 40px;
}

.post-meta {
    justify-content: start;
}

.post-button {
    text-align: start;
}

// paragraph margin

p {
    margin: 0 0 1em;
}

// add very thin space to enhance readability of em
em {
    margin-left: 0.125em;
    margin-right: 0.125em;
}

@import 'kaiti-for-zh-em';
