@charset "utf-8";

@font-face {
    font-family: ChongXiSmallSeal;
    src: url(/assets/fonts/chongxi_seal.otf);
}

.miaomiao {
    color: mediumpurple;
}

// 隶书
.clerical:lang(zh) {
    font-family: LiSu, STLiti, SimHei, sans-serif;
    padding-left: 0.125em;
    padding-right: 0.125em;
}

// 小篆
.smallseal:lang(zh) {
    font-family: ChongXiSmallSeal, sans-serif;
    // the font glyph is somewhat small, enlarge it with css
    display: inline-block;
    letter-spacing: -0.125em;
    font-size: 1.125em;
    padding-left: 0.125em;
    padding-right: 0.125em;
    height: 1em;
}

// add very thin spaces to improve readability
i, em {
    margin-left: 0.125em;
    margin-right: 0.125em;
}

// Use KaiTi on Chinese emphasis
blockquote:lang(zh), i:lang(zh), em:lang(zh) {
    font-family: KaiTi, serif;
    font-style: normal;
}

blockquote {
    i:lang(zh), em:lang(zh) {
        font-family: $base-font-family;
        font-style: normal;
    }
}

// Use italic on English emphasis

blockquote:lang(en), i:lang(en), em:lang(en) {
    font-style: italic;
}

blockquote {
    i:lang(en), em:lang(en) {
        font-style: normal;
    }
}

